.grid {
    display: grid;
}

.bg-home {
    background-image: repeating-linear-gradient(90deg, rgb(208, 136, 248) 0px, rgb(208, 136, 248) 98px,rgb(237, 183, 253) 98px, rgb(237, 183, 253) 141px,rgb(252, 206, 255) 141px, rgb(252, 206, 255) 238px,rgb(222, 159, 251) 238px, rgb(222, 159, 251) 267px,rgb(178, 89, 244) 267px, rgb(178, 89, 244) 363px,rgb(193, 112, 246) 363px, rgb(193, 112, 246) 479px);
}
.bg-features {
    background-image: repeating-linear-gradient(90deg, rgb(223, 152, 211) 0px, rgb(223, 152, 211) 19px,rgb(253, 236, 249) 19px, rgb(253, 236, 249) 91px,rgb(246, 215, 240) 91px, rgb(246, 215, 240) 167px,rgb(231, 173, 221) 167px, rgb(231, 173, 221) 252px,rgb(238, 194, 230) 252px, rgb(238, 194, 230) 320px);
}
.bg-lore {
    background-image: linear-gradient(90deg, rgb(189, 254, 246) 0%, rgb(189, 254, 246) 3%,rgb(178, 217, 230) 3%, rgb(178, 217, 230) 17%,rgb(166, 179, 214) 17%, rgb(166, 179, 214) 18%,rgb(155, 142, 199) 18%, rgb(155, 142, 199) 33%,rgb(144, 105, 183) 33%, rgb(144, 105, 183) 44%,rgb(132, 67, 167) 44%, rgb(132, 67, 167) 73%,rgb(121, 30, 151) 73%, rgb(121, 30, 151) 100%),linear-gradient(112.5deg, rgb(189, 254, 246) 0%, rgb(189, 254, 246) 3%,rgb(178, 217, 230) 3%, rgb(178, 217, 230) 17%,rgb(166, 179, 214) 17%, rgb(166, 179, 214) 18%,rgb(155, 142, 199) 18%, rgb(155, 142, 199) 33%,rgb(144, 105, 183) 33%, rgb(144, 105, 183) 44%,rgb(132, 67, 167) 44%, rgb(132, 67, 167) 73%,rgb(121, 30, 151) 73%, rgb(121, 30, 151) 100%),linear-gradient(0deg, rgb(189, 254, 246) 0%, rgb(189, 254, 246) 3%,rgb(178, 217, 230) 3%, rgb(178, 217, 230) 17%,rgb(166, 179, 214) 17%, rgb(166, 179, 214) 18%,rgb(155, 142, 199) 18%, rgb(155, 142, 199) 33%,rgb(144, 105, 183) 33%, rgb(144, 105, 183) 44%,rgb(132, 67, 167) 44%, rgb(132, 67, 167) 73%,rgb(121, 30, 151) 73%, rgb(121, 30, 151) 100%),linear-gradient(45deg, rgb(189, 254, 246) 0%, rgb(189, 254, 246) 3%,rgb(178, 217, 230) 3%, rgb(178, 217, 230) 17%,rgb(166, 179, 214) 17%, rgb(166, 179, 214) 18%,rgb(155, 142, 199) 18%, rgb(155, 142, 199) 33%,rgb(144, 105, 183) 33%, rgb(144, 105, 183) 44%,rgb(132, 67, 167) 44%, rgb(132, 67, 167) 73%,rgb(121, 30, 151) 73%, rgb(121, 30, 151) 100%),linear-gradient(90deg, rgb(131, 102, 35),rgb(201, 0, 133)); background-blend-mode:overlay,overlay,overlay,overlay,normal;
}

.cur-na {
    cursor: no-drop !important;
}

.centered {
    text-align: center;
}

.bg-blurple {
    background-color: #5865F2;
}

.text-centered {
    text-align: center;
}

.timely-datepicker-1 {
    position: relative;
    margin-bottom: 1rem;
}